
body{
	margin: 0;
}
.container{
	border: 6px solid black;
	display: flex;
	height: 400px;
}
.flex-item{
	color: antiquewhite;
	font-size: 1.5rem;
	padding: 1rem;
	text-align: center;
}
.item-1{
	background-color: orange;
	align-self: flex-start;
}
.item-2{
	background-color: yellow;
	align-self: flex-end;

}
.item-3{
	background-color: blue;
	align-self: center;
	
}
.item-4{
	background-color: pink;
}
.item-5{
	background-color: purple;
}
.item-6{
	background-color: mediumvioletred;
}
.item-7{
	background-color: hotpink;
}
.item-8{
	background-color: violet;
}
.item-9{
	background-color: aquamarine;
}
